/* CSS Document */
/*  estilos para formularios */

input, textarea{
color:#2F2F2E;
background:#ffffff;
border:1px solid #2F2F2E;
text-align:left;
font-size: 12px;
font-family:Arial, Helvetica, sans-serif;
padding-left:3px;
margin-top:4px;
}

select{
font-size: 12px;
font-family:Arial, Helvetica, sans-serif;
padding-left:3px;
margin-top:4px;

text-align:left;
}

input:focus, select:focus,textarea:focus {
background:white;
color:black;
}


input[type="button"]:hover,form input[type="submit"]:hover{
background:#dbdbd9;

}



label {
width:30%;
float:left;
text-align:right;
font-weight: bolder;
margin-right:0.5em;
display:block;
clear:left;
margin-top:4px;
}


.submit input {
margin-left:4.5em;
color:#000;
background:#BFBFBF;
border:2px outset #d7b9c9;
}

fieldset {
border:1px solid #dbdbd9;
width:90%;
}


legend {
border:1px solid #dbdbd9;
padding:2px 6px;
margin:10px;
margin-top:20px;
}

legend a{
text-decoration:underline;
}



.campo {
	width: 254px;
	height: 20px;
	margin-bottom: 15px;
	color:#781351;
	background:#ffffff;
	border:1px solid #000000;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.campo:hover {
	background:#dbdbd9;
}


.boton_formulario{
	width: 88px;
	height: 27px;
	margin-left: 80px;
}
